<div>
    <div class="row" ng-init="currentPage = 'Eventos'">

        <div class="row">
            <landing-element current-page="{{currentPage}}"></landing-element>
        </div>

        <div class="col-md-10 col-md-push-1">
            <div id="section-1" class="section">
                <div class="horizontalSeparator hideme"></div>
                <div class="emptySeparator"></div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-calendar glyphicon-xl"></span><br />
                            <h3><b>{{Event.Date | date:'dd'}}</b></h3><br />
                            <h3><b>{{Event.Date | monthNumberToWord}}</b></h3><br />
                            <h3><b>{{Event.Date | date:'yyyy'}}</b></h3><br />
                        </div>
                    </div>
                    <div class="col-md-11">
                        <h1>{{Event.Title}}</h1>
                        <img ng-src="{{picturesDownloadUrl}}/{{Event.ImageUrl}}" class="img-responsive" ng-show="Event.ImageUrl" />
                        <h3 ng-bind-html="Event.Resume"></h3><br>
                        <div ng-bind-html="Event.Description"></div>
                    </div>
                </div>
            </div>
            <div class="thinLine"></div>
            <go-up-control></go-up-control>
        </div>

    </div>
</div>
