<style>
    .answer {
        display: none;
    }

    a.nostyle:link {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

    a.nostyle:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

    menu-brick a:link {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

    menu-brick a:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: auto;
    }

                @media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    h3{font-size: 3px;}
}
h3{
    font-size: 1em;
}

h2{
    font-size: 1.2em;
}  
</style>

<div class="container" ng-controller="informationCoursesController" ng-init="currentPage = 'Informações Gerais e Cursos'">
    <div>
        <nav class="hidden-xs hidden-sm">
            <ul>
                <li><a href="#Informacoes#section-1" du-smooth-scroll du-scrollspy>> Informações Gerais</a></li>
                <li><a href="#Informacoes#section-2" du-smooth-scroll du-scrollspy>> Cursos</a></li>
            </ul>
        </nav>

        <div class="row">

            <div class="row">
                <landing-element current-page="{{currentPage}}"></landing-element>
            </div>

            <div class="col-md-10 col-md-push-1" ng-controller="informationCoursesMenuController">

                <div id="section-1" class="section">
                    <div class="horizontalSeparator"></div>
                    <div class="emptySeparator"></div>
                    <div class="row">
                        <div class="col-xs-11 col-md-2">
                            <h2>Informações Gerais</h2>

                        </div>
                        <div class="row col-xs-offset-1 col-md-offset-0 col-md-10">
                            <div class="row">
                                <menu-brick ng-click="openChild('I', 2, 0, $event)" menu-title="Estrutura Curricular" is-selected="{{isActiveSelection('I', 1, 0)}}"></menu-brick>
                                <menu-brick menu-title="Preçário" show-link="true" ng-click="navigateTo('/InformationDetail/INFO_EST_PRECARIO')"></menu-brick>
                            </div>
                            <div id="scrollingAnchorInfoLevel2"></div>
                            <div class="row" ng-show="isVisible('I', 2, 0)">
                                <go-down-control></go-down-control>
                                <menu-brick ng-click="openChild('I', 3, 1, $event)" menu-title="Música" is-selected="{{isActiveSelection('I', 2,1)}}"></menu-brick>
                                <menu-brick ng-click="openChild('I', 3, 2, $event)" menu-title="Dança" is-selected="{{isActiveSelection('I', 2, 2)}}"></menu-brick>
                            </div>
                            <div id="scrollingAnchorInfoLevel3"></div>

                            <div ng-show="isVisible('I', 3, 1)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Estrutura Curricular » Música</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <menu-brick menu-title="Graus" show-link="true" ng-click="navigateTo('/InformationDetail/INFO_MUS_GRAUS')"></menu-brick>
                                            <menu-brick menu-title="Regime Livre" show-link="true" ng-click="navigateTo('/InformationDetail/INFO_MUS_REGLIV')"></menu-brick>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('I', 3, 2)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Estrutura Curricular » Dança</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <menu-brick menu-title="Classes" show-link="true" ng-click="navigateTo('/InformationDetail/INFO_DAN_CLASS')"></menu-brick>
                                            <menu-brick menu-title="Regime Livre" show-link="true" ng-click="navigateTo('/InformationDetail/INFO_DAN_REGLIV')"></menu-brick>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="section-2" class="section">
                    <div class="horizontalSeparator"></div>
                    <div class="emptySeparator"></div>
                    <div class="row">
                        <div class="col-xs-11 col-md-2 hideme">
                            <h2>Cursos</h2>
                        </div>
                        <div class="row col-xs-offset-1 col-md-offset-0 col-md-10">

                            <div class="row">
                                <menu-brick ng-click="openChild('C', 2, 1, $event)" menu-title="Música" is-selected="{{isActiveSelection('C', 1, 1)}}"></menu-brick>
                                <menu-brick ng-click="openChild('C', 2, 2, $event)" menu-title="Dança" is-selected="{{isActiveSelection('C', 1, 2)}}"></menu-brick>
                            </div>

                            <div id="scrollingAnchorCoursesLevel2"></div>
                            <div class="row" ng-show="isVisible('C', 2, 1)">
                                <go-down-control></go-down-control>
                                <div>
                                    <menu-brick ng-animate="'animate'" ng-click="openChild('C', 3, 1, $event)" menu-title="Instrumento / Canto" is-selected="{{isActiveSelection('C', 2, 1)}}"></menu-brick>
                                    <menu-brick ng-animate="'animate'" ng-click="openChild('C', 3, 2, $event)" menu-title="Teoria Musical" is-selected="{{isActiveSelection('C', 2, 2)}}"></menu-brick>
                                    <menu-brick ng-click="openChild('C', 3, 3, $event)" menu-title="Coros" is-selected="{{isActiveSelection('C', 2, 3)}}"></menu-brick>
                                    <menu-brick ng-click="openChild('C', 3, 4, $event)" menu-title="Orquestras" is-selected="{{isActiveSelection('C', 2, 4)}}"></menu-brick>
                                    <menu-brick ng-click="openChild('C', 3, 5, $event)" menu-title="Grupos Musicais" is-selected="{{isActiveSelection('C', 2, 5)}}"></menu-brick>
                                </div>
                            </div>

                            <div class="row" ng-show="isVisible('C', 2, 2)">
                                <go-down-control></go-down-control>
                                <div>
                                    <menu-brick ng-click="openChild('C', 3, 6, $event)" menu-title="Ballet" is-selected="{{isActiveSelection('C', 2, 6)}}"></menu-brick>
                                    <menu-brick ng-click="openChild('C', 3, 7, $event)" menu-title="Hip-Hop" is-selected="{{isActiveSelection('C', 2, 7)}}"></menu-brick>
                                    <menu-brick menu-title="Dança Contemporânea" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_CONTEMPOR')"></menu-brick>
                                </div>
                            </div>

                            <div id="scrollingAnchorCoursesLevel3"></div>
                            <div ng-show="isVisible('C', 3, 1)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Música » Instrumento / Canto</div>
                                    <div class="panel-body">

                                        <menu-brick menu-title="Bateria" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_BATERIA')"></menu-brick>
                                        <menu-brick menu-title="Canto" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_CANTO')"></menu-brick>
                                        <menu-brick menu-title="Contrabaixo" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_CONTRABAIXO')"></menu-brick>
                                        <menu-brick menu-title="Flauta Traversal" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_FLAUTA')"></menu-brick>
                                        <menu-brick menu-title="Guitarra" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_GUITARRA')"></menu-brick>
                                        <menu-brick menu-title="Harpa" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_HARPA')"></menu-brick>
                                        <menu-brick menu-title="Oboé" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_OBOE')"> </menu-brick>
                                        <menu-brick menu-title="Piano" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_PIANO')"></menu-brick>
                                        <menu-brick menu-title="Saxofone" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_SAXOFONE')"></menu-brick>
                                        <menu-brick menu-title="Trompete" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_TROMPETE')"></menu-brick>
                                        <menu-brick menu-title="Viola D'Arco" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_VIOLA')"></menu-brick>
                                        <menu-brick menu-title="Violino" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_VIOLINO')"></menu-brick>
                                        <menu-brick menu-title="Violoncelo" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_VIOLONCELO')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 2)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Música » Teoria Musical</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="Iniciação Musical e Formação Preparátoria" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_INICIACIAO')"></menu-brick>
                                        <menu-brick menu-title="Formação Músical" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_FORMACAO')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 3)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Música » Coros</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="CGEA - Coro Geral da Escola de Artes" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_COR_GERAL')"></menu-brick>
                                        <menu-brick menu-title="CiLT - Coro Infatil Independente Torrense" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_COR_INFANTIL')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 4)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Música » Orquestras</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="OJIT - Orquestra Juventude Independente Torrense" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_ORQ_JUV')"></menu-brick>
                                        <menu-brick menu-title="OpAI - Orquesta dos Pequenos Artistas Independente" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_ORQ_PEQ')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 5)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Música » Grupos Musicais</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="CIEA - Camerata Instrumental da Escola de Artes" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_CIEA')"></menu-brick>
                                        <menu-brick menu-title="Música de Câmara" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_CAMARA')"></menu-brick>
                                        <menu-brick menu-title="Viveiro de Bandas" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_MUS_VIVEIRO')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 6)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Dança » Ballet</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="Dança Creativa" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_CRIATIVA')"></menu-brick>
                                        <menu-brick menu-title="Pré-ballet" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_PRE_BALLET')"></menu-brick>
                                        <menu-brick menu-title="Ballet" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_BALLET')"></menu-brick>
                                        <menu-brick menu-title="Pontas" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_PONTAS')"></menu-brick>
                                        <menu-brick menu-title="Barra de Chão" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_BARRA')"></menu-brick>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="isVisible('C', 3, 7)">
                                <go-down-control></go-down-control>
                                <div class="panel panel-success">
                                    <div class="panel-heading">Dança » Hip-Hop</div>
                                    <div class="panel-body">
                                        <menu-brick menu-title="Hip - Hop Minis" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_HHMINIS')"></menu-brick>
                                        <menu-brick menu-title="Hip - Hop Kids" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_HHKIDS')"></menu-brick>
                                        <menu-brick menu-title="Hip - Hop" show-link="true" ng-click="navigateTo('/InformationDetail/CUR_DAN_HH_HH')"></menu-brick>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <go-up-control></go-up-control>
    </div>
</div>
<contact-footer></contact-footer>
