
<div class="container">
    <div>
        <nav class="hidden-xs hidden-sm">
            <ul>
                <li><a href="#Secretaria#section-1" du-smooth-scroll du-scrollspy>> Anúncios </a></li>
                <li><a href="#Secretaria#section-2" du-smooth-scroll du-scrollspy>> Horários</a></li>
            </ul>
        </nav>
        <div class="row" ng-init="currentPage = 'Secretaria'">
            <div class="row">
                <landing-element current-page="{{currentPage}}"></landing-element>
            </div>

            <div class="col-md-10 col-md-push-1">

                <div id="section-1" class="section">
                    <div class="horizontalSeparator hideme"></div>
                    <div class="emptySeparator hideme"></div>
                    <div class="row">
                        <div class="col-xs-11 col-md-2">
                            <h2>Anúncios</h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-md-9">
                                    <div ng-repeat="message in Messages  | orderBy:'-PublicationDate' | limitTo: currentLimit ">
                                        <div class="col-xs-11 col-md-12">
                                            <message message="{{message.Message}}" title="{{message.Title}}"
                                            publication-date ="{{message.PublicationDate}}" validity-date="{{message.ValidityDate}}"></message>
                                        </div>
                                </div>
                                <button id="moreButton" ng-click="increaseDisplayLimit()" ng-show="hasMoreEvents()">Mais</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thinLine"></div>

                <div id="section-2" class="section">
                    <div class="horizontalSeparator"></div>
                    <div class="emptySeparator hideme"></div>
                    <div class="row">
                        <div class="col-md-2 hideme">
                            <h2>Horários das Aulas</h2>
                        </div>
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-time glyphicon-lg"></span><br />
                        </div>
                        <div class="col-md-9">
                            <div ng-repeat="hour in ClassesHours">
                                <div class="col-md-6 hideme">
                                    <h2>{{hour.Day}}</h2>
                                    {{hour.Hours}}<br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thinLine"></div>

                <div id="section-3" class="section">
                    <div class="horizontalSeparator"></div>
                    <div class="emptySeparator"></div>
                    <div class="row">
                        <div class="col-md-2">
                            <h2>Horário de Secretaria</h2>
                        </div>
                        <div class="col-md-1">
                            <span class="glyphicon glyphicon-time glyphicon-lg"></span><br />
                        </div>
                        <div class="col-md-9">
                            <div ng-repeat="hour in SecretaryOfficeHours">
                                <div class="col-md-6 hideme">
                                    <h2>{{hour.Day}}</h2>
                                    {{hour.Hours}}<br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thinLine"></div>
            </div>
        </div>
        <go-up-control></go-up-control>
    </div>
</div><!-- /.container -->
<contact-footer></contact-footer>