<div class="row">
    <div>
        <h2 class="col-md-10">Impressos e Documentos</h2>

        <div class="row">
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10">» Horários e funcionamento</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Horários Música</h3>
                <button ng-click="editDocument('TIMETAB_MUS')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Classes de Conjunto</h3>
                <button ng-click="editDocument('TIMETAB_CONJUNTO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Bateria</h3>
                <button ng-click="editDocument('TIMETAB_BATERIA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Canto</h3>
                <button ng-click="editDocument('TIMETAB_CANTO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Contrabaixo</h3>
                <button ng-click="editDocument('TIMETAB_CONTRABAIXO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Flauta Transversal</h3>
                <button ng-click="editDocument('TIMETAB_FLAUTA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Guitarra</h3>
                <button ng-click="editDocument('TIMETAB_GUITARRA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Harpa</h3>
                <button ng-click="editDocument('TIMETAB_HARPA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Oboé</h3>
                <button ng-click="editDocument('TIMETAB_OBOE')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Piano</h3>
                <button ng-click="editDocument('TIMETAB_PIANO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Saxofone</h3>
                <button ng-click="editDocument('TIMETAB_SAXOFONE')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Trompete</h3>
                <button ng-click="editDocument('TIMETAB_TROMPETE')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Viola D'Arco</h3>
                <button ng-click="editDocument('TIMETAB_VIOLA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Violino</h3>
                <button ng-click="editDocument('TIMETAB_VIOLINO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">Violoncelo</h3>
                <button ng-click="editDocument('TIMETAB_VIOLONCELO')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Horários Dança</h3>
                <button ng-click="editDocument('TIMETAB_DAN')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Calendário Escolar</h3>
                <button ng-click="editDocument('FUN_CALEND')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Normas de Funcionamento</h3>
                <button ng-click="editDocument('FUN_NORMS')" class="col-md-2">Editar</button>
            </div>
            <br />

            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">» Indumentária para as aulas de Dança</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Barra de Chão</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_BARRA_M')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_BARRA_F')" class="col-md-2">Editar</button>
            </div>
            <br />

            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Dança Contemporânea</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_DAN_CONTEMP_M', '')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_DAN_CONTEMP_F', '')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Dança Criativa</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_DAN_CRIATIVA_M', '')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_DAN_CRIATIVA_F', '')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Hip-Hop</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_HH_M')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_HH_F')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Hip-Hop Minis e Kids</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_HHKIDSMINIS_M')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_HHKIDSMINIS_F')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Pontas</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_PONTAS_M')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_PONTAS_F')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-2">» Pré Ballet e Ballet</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Masculino</h3>
                <button ng-click="editDocument('FUN_INDUM_PREBALLET_BALLET_M')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-3">Feminino</h3>
                <button ng-click="editDocument('FUN_INDUM_PREBALLET_BALLET_F')" class="col-md-2">Editar</button>
            </div>
            <br />
        </div>

        <br />
        <div class="row">
            <div class="categoryLine">
                <h3 class="col-xs-10">» Inscrição</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Ficha de Inscrição na Escola de Artes </h3>
                <button ng-click="editDocument('INS_FICHA')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Proposta de Admissão para Sócio do IFCTorrense</h3>
                <button ng-click="editDocument('INS_PROPOSTA')" class="col-md-2">Editar</button>
            </div>
            <br />
        </div>

        <br />
        <div class="row">
            <div class="categoryLine">
                <h3 class="col-xs-10">» Termos de Responsabilidade</h3>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Termo de Responsabilidade para a Guarda e Uso de Instrumento </h3>
                <button ng-click="editDocument('TERMS_RESP_USO_INSTR')" class="col-md-2">Editar</button>
            </div>
            <br />
            <div class="categoryLine">
                <h3 class="col-xs-8 col-md-10 col-md-push-1">Termo de Responsabilidade para a Prática Desportiva</h3>
                <button ng-click="editDocument('TERMS_RESP_DESP')" class="col-md-2">Editar</button>
            </div>
            <br />
        </div>
    </div>
</div>