<div class="container">
    <div class="row">
        <div class="categoryLine">
            <h3 class="col-md-10">» Anúncios</h3>
            <button class="col-md-2" ng-click="editMessage(null)">Novo</button>
            <div class="row">
                <div ng-repeat="message in Messages | orderBy:'-PublicationDate'">

                    <div class="subcategoryLine">
                        <h4 class="col-md-7 col-md-offset-1">{{message.Title}} ({{message.PublicationDate | date: 'dd/MM/yyyy'}})</h4>
                        <button ng-click="editMessage(message)" class="col-md-2">Editar</button>
                        <button class="col-md-2" ng-click="deleteMessage(message)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="categoryLine">
            <h3 class="col-md-10">» Horários de Aulas</h3>
            <button class="col-md-2" ng-click="editOfficeHours(null)">Novo</button>
            <div class="row">
                <div ng-repeat="officeHour in ClassesHours">

                    <div class="subcategoryLine">
                        <h4 class="col-md-7 col-md-offset-1">{{officeHour.Day}}</h4>
                        <button ng-click="editOfficeHours(officeHour)" class="col-md-2">Editar</button>
                        <button class="col-md-2" ng-click="deleteOfficeHours(officeHour)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="categoryLine">
            <h3 class="col-md-10">» Horários de Secretaria</h3>
            <button class="col-md-2" ng-click="editOfficeHours(null)">Novo</button>
            <div class="row">
                <div ng-repeat="officeHour in SecretaryOfficeHours">

                    <div class="subcategoryLine">
                        <h4 class="col-md-7 col-md-offset-1">{{officeHour.Day}}</h4>
                        <button ng-click="editOfficeHours(officeHour)" class="col-md-2">Editar</button>
                        <button class="col-md-2" ng-click="deleteOfficeHours(officeHour)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>