<div class="container">
    <h2>Informações Gerais</h2>

    <div class="row">
        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">Preçário</h3>
            <button ng-click="editArticle('INFO_EST_PRECARIO', 'Preçário')" class="col-md-2">Editar</button>
        </div>
        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">» Estrutura Curricular</h3>
            <!--<button ng-click="editArticle('INFO_EST_CURR', 'Estrutura Curricular')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">» Música</h3>
            <!--<button ng-click="editArticle('INFO_MUS', 'Música')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Graus</h3>
            <button ng-click="editArticle('INFO_MUS_GRAUS', 'Graus')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Regime Livre</h3>
            <button ng-click="editArticle('INFO_MUS_REGLIV', 'Regime Livre')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">» Dança</h3>
            <!--<button ng-click="editArticle('INFO_DAN', 'Dança')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Classes</h3>
            <button ng-click="editArticle('INFO_DAN_CLASS', 'Classes')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Regime Livre</h3>
            <button ng-click="editArticle('INFO_DAN_REGLIV', 'Regime Livre')" class="col-md-2">Editar</button>
        </div>
    </div>
</div>