<div class="container">
    <h2>Dança</h2>
    <div class="row">
        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 ">» Ballet</h3>
            <!--<button ng-click="editArticle('INFO_DAN_BALLET', 'Ballet')" class="col-xs-4 col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Dança Criativa</h3>
            <button ng-click="editArticle('CUR_DAN_CRIATIVA', 'Dança Criativa')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Pré-Ballet</h3>
            <button ng-click="editArticle('CUR_DAN_PRE_BALLET', 'Pré-Ballet')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Ballet</h3>
            <button ng-click="editArticle('CUR_DAN_BALLET', 'Ballet')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Pontas</h3>
            <button ng-click="editArticle('CUR_DAN_PONTAS', 'Pontas')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Barra De Chão</h3>
            <button ng-click="editArticle('CUR_DAN_BARRA', 'Barra De Chão')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">» Dança Contemporânea</h3>
            <button ng-click="editArticle('CUR_DAN_CONTEMPOR', 'Dança Contemporânea')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10">» Hip-Hop</h3>
            <!--<button ng-click="editArticle('INFO_DAN_HH', 'Hip-Hop')" class="col-xs-4 col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Hip-Hop Minis</h3>
            <button ng-click="editArticle('CUR_DAN_HHMINIS', 'Hip-Hop Minis')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Hip-Hop Kids</h3>
            <button ng-click="editArticle('CUR_DAN_HHKIDS', 'Hip-Hop Kids')" class="col-xs-4 col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-xs-8 col-md-10 col-md-push-1">Hip-Hop</h3>
            <button ng-click="editArticle('CUR_DAN_HH_HH', 'Hip-Hop')" class="col-xs-4 col-md-2">Editar</button>
        </div>

    </div>
</div>