<div class="row">
    <div>
        <h3 class="col-md-10">Utilizadores</h3>
        <div class="row">
            <div>
                <h4 class="col-md-7 col-md-offset-1">User 1</h4>
                <button class="col-md-2">Editar</button>
                <button class="col-md-2">Eliminar</button>
            </div>
        </div>
        <div class="row">
            <div>
                <h4 class="col-md-7 col-md-offset-1">User 2</h4>
                <button class="col-md-2">Editar</button>
                <button class="col-md-2">Eliminar</button>
            </div>
        </div>
        <div class="row">
            <div>
                <h4 class="col-md-7 col-md-offset-1">User 3</h4>
                <button class="col-md-2">Editar</button>
                <button class="col-md-2">Eliminar</button>
            </div>
        </div>
        <div class="row">
            <div>
                <h4 class="col-md-7 col-md-offset-1">User 4</h4>
                <button class="col-md-2">Editar</button>
                <button class="col-md-2">Eliminar</button>
            </div>
        </div>
    </div>
</div>