<div class="container">

    <h2>Música</h2>
    <div class="row">
        <div class="categoryLine">
            <h3 class="col-md-10">» Intrumento / Canto</h3>
            <!--<button ng-click="editArticle('INFO_MUS_INSTR_CANTO','Intrumento / Canto')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Bateria</h3>
            <button ng-click="editArticle('CUR_MUS_BATERIA','Bateria')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Canto</h3>
            <button ng-click="editArticle('CUR_MUS_CANTO','Canto')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Contrabaixo</h3>
            <button ng-click="editArticle('CUR_MUS_CONTRABAIXO','Contrabaixo')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Flauta Transversal</h3>
            <button ng-click="editArticle('CUR_MUS_FLAUTA','Flauta Transversal')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Guitarra</h3>
            <button ng-click="editArticle('CUR_MUS_GUITARRA','Guitarra')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Harpa</h3>
            <button ng-click="editArticle('CUR_MUS_HARPA','Harpa')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Oboé</h3>
            <button ng-click="editArticle('CUR_MUS_OBOE','Oboé')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Piano</h3>
            <!--<button ng-click="editArticle('CUR_MUS_PIANO','Piano')" class="col-md-2">Editar</button>-->
            <button ng-click="editArticle('CUR_MUS_PIANO','Piano')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Saxofone</h3>
            <button ng-click="editArticle('CUR_MUS_SAXOFONE','Saxofone')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Trompete</h3>
            <button ng-click="editArticle('CUR_MUS_TROMPETE','Trompete')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Viola D'arco</h3>
            <button ng-click="editArticle('CUR_MUS_VIOLA','Viola D\'Arco')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Violino</h3>
            <button ng-click="editArticle('CUR_MUS_VIOLINO','Violino')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Violoncelo</h3>
            <button ng-click="editArticle('CUR_MUS_VIOLONCELO','Violoncelo')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10">» Teoria Musical</h3>
            <!--<button ng-click="editArticle('INFO_MUS_TEORIA','Teoria Musical')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Iniciação Musical</h3>
            <button ng-click="editArticle('CUR_MUS_INICIACIAO','Iniciação Musical')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Formação Musical</h3>
            <button ng-click="editArticle('CUR_MUS_FORMACAO','Formação Musical')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10">» Coros</h3>
            <!--<button ng-click="editArticle('INFO_MUS_COROS', 'Coros')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">CGEA - Coro Geral Da Escola De Artes</h3>
            <button ng-click="editArticle('CUR_MUS_COR_GERAL','CGEA - Coro Geral Da Escola De Artes')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">CiIT - Coro Infantil Independente Torrense</h3>
            <button ng-click="editArticle('CUR_MUS_COR_INFANTIL','CiIT - Coro Infantil Independente Torrense')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10">» Orquestras</h3>
            <!--<button ng-click="editArticle('INFO_MUS_ORQ','Orquestras')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">OJIT - Orquestra Juventude Independente Torrense</h3>
            <button ng-click="editArticle('CUR_MUS_ORQ_JUV','OJIT - Orquestra Juventude Independente Torrense')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">OpAI - Orquestra Dos Pequenos Artistas Do Independente</h3>
            <button ng-click="editArticle('CUR_MUS_ORQ_PEQ','OpAI - Orquestra Dos Pequenos Artistas Do Independente')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10">» Grupos Musicais</h3>
            <!--<button ng-click="editArticle('INFO_MUS_GRUPOS','Grupos Musicais')" class="col-md-2">Editar</button>-->
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">CIEA - Camerata Instrumental Da Escola De Artes</h3>
            <button ng-click="editArticle('CUR_MUS_CIEA','CIEA - Camerata Instrumental Da Escola De Artes')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Música De Câmara</h3>
            <button ng-click="editArticle('CUR_MUS_CAMARA','Música De Câmara')" class="col-md-2">Editar</button>
        </div>

        <div class="categoryLine">
            <h3 class="col-md-10 col-md-push-1">Viveiro De Bandas</h3>
            <button ng-click="editArticle('CUR_MUS_VIVEIRO','Viveiro De Bandas')" class="col-md-2">Editar</button>
        </div>
    </div>
</div>