<div>
    <div class="row" ng-init="currentPage = 'Information Detail'">

        <div class="row">
            <landing-element current-page="{{currentPage}}"></landing-element>
        </div>

        <div class="col-md-10 col-md-push-1">
            <div id="section-1" class="section">
                <div class="horizontalSeparator hideme"></div>
                <div class="emptySeparator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <img src="../Resources/Images/Preçário.png" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div class="thinLine"></div>
        </div>
        <go-up-control></go-up-control>
    </div>
</div>
<contact-footer></contact-footer>
