
<div>
    <div class="row">
        <div class="well col-xs-11 col-md-12"><h3>História</h3></div>
    </div>

    <div class="row">
        <div class="col-xs-11 col-md-12">
            <form role="form" enctype="multipart/form-data" name="employeeForm" ng-submit="saveArticle(ArticleToEdit)">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <textarea type="text" name="description" id="description" class="form-control input-sm" tabindex="2" placeholder="Conteúdo"
                                          rows="20" cols="20" ng-model="ArticleToEdit.Content" tooltip="Conteúdo" tooltip-placement="right"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-5 col-md-3 pull-right">
                        <button class="btn btn-primary btn-block" ng-click="cancel()" type="reset">Cancelar</button>
                    </div>
                    <div class="col-xs-5 col-md-3 pull-right">
                        <input type="submit" value="Gravar" class="btn btn-primary btn-block" tabindex="7">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

